body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:515px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:35px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u2 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u3 {
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u4 {
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:30px;
}
#u5 {
  position:absolute;
  left:240px;
  top:0px;
  width:275px;
  height:30px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:271px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:30px;
  width:520px;
  height:151px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:146px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:146px;
  font-size:14px;
}
#u9 {
  position:absolute;
  left:2px;
  top:65px;
  width:116px;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:146px;
}
#u10 {
  position:absolute;
  left:120px;
  top:0px;
  width:120px;
  height:146px;
  font-size:14px;
}
#u11 {
  position:absolute;
  left:2px;
  top:65px;
  width:116px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:146px;
}
#u12 {
  position:absolute;
  left:240px;
  top:0px;
  width:275px;
  height:146px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:10px;
  top:64px;
  width:255px;
  word-wrap:break-word;
}
